<%- include("partials/header"); -%>

<% if(transactions){ %>

<div class="container">
    <div class="row col-lg-12 custyle">
    <table class="table table-striped custab">
    <thead>
    
   
        <tr>
            <th class="text-center">Sender</th>
            <th class="text-center">Receiver</th>
            <th class="text-center">Transaction Amount</th>
            
        </tr>
    </thead>
   
    <% transactions.forEach(function(transaction){ %>

    <tr>
        <td class="text-center"><%= transaction.sender %></td>
        <td class="text-center"><%= transaction.receiver %></td>
        <td class="text-center"><%= transaction.amount %></td>
    </tr>
    <% }); %>
   
    </table>
    </div>
</div>
<% } %> 

<%- include("partials/footer"); -%>