<%- include("partials/header"); -%>


    <% if(users){ %>
        <% if(msg !=='' ){ %>
            <div class="col-lg-6 alert alert-info alert-dismissible fade show alertMsg" role="alert">
                <%= msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        <% } %>

        <div class=" container ">
            <div class="card">
                <div class="card-header">
                    <center>
                        <h1><em>Transfer Your Money</em>
                            <span class="span2"></span>
                        </h1>
                    </center>
                </div>
                <div class="card-body">

                    <form class="" action="/transferMoney" method="POST">
                        <div class=" row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="labels" for="sender">Sender<span style="color: red;">*</span>:</label>
                                    <input list="sender" type="text" name="sender" class="form-control"
                                        placeholder="Select Option" required>
                                    <datalist id="sender">
                                        <% users.forEach(function(user){ %>
                                            <option value="<%= user.email %>">
                                            <% }) %>
                                    </datalist>

                                </div>
                            </div>


                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="labels" for="sender">Receiver<span style="color: red;">*</span>:</label>
                                    <input list="receiver" type="text" name="receiver" class="form-control"
                                        placeholder="Select Option" required>
                                    <datalist id="receiver">
                                        <% users.forEach(function(user){ %>
                                            <option value="<%= user.email %>">
                                        <% }) %>
                                    </datalist>

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="labels" for="amount">Amount<span
                                            style="color: red;">*</span>:</label>
                                    <input type="number" name="amount" class="form-control" required>
                                </div>
                            </div>

                            <div class="container-fluid  justify-content-center">
                                <button type="submit" class="btn main-button1">Transfer Money</button>
                            </div>



                    </form>
                </div>




            </div>



        </div>
        </div>
        </div>

        <% } %>

            <%- include("partials/footer"); -%>